<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN-UP</title>
    <link rel="stylesheet" href="/statics/signup.css">
</head>
<body>
    <center><div class="signupdiv"><h1 class="signuphead">SIGN-UP</h1>
    <form action="index.html">
        <input class="email" type="email" placeholder="ENTER EMAIL"><br>
        <input class="pass" type="password" placeholder="ENTER PASSWORD"><br>
        <input class="login" type="submit" value="CREATE ACCOUNT"><br>
    </form></div></center>
    <div class="switchdiv" style="display: flex;"><h6>Already have an account? <a href="signin.html"><button>SIGN IN</button></a></h6></div>
</body>
</html>