body{
    background-color: #fbc02d;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    width: 50%;
    height: 480px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    resize: both; /* Allow user to resize the note writting area */
    position: relative;
    left: 330px;
    background-color: #2b1807;
    color: #fbc02d;
}

textarea:focus {
    outline: none;
    border-color: #2b1807 ; 
    box-shadow: #2b1807;
}

.notes{
    background-color: #372E29;
    color: #fbc02d;
}
.savebt{
    background-color: #372E29;
    color: #fbc02d;
    transition: 0.3s all;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
    padding: 8px 24px;
}
.savebt:hover{
    color: #2b1807;
    background-color: #fbc02d !important;
}

.text{
    font-size: 25px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #2b1807;
    font-size: 44px;
}