textarea {
    width: 50%; /* Full width */
    height: 480px; /* Adjust height for bigger input area */
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    resize: both; /* Allow user to resize the textarea */
    position: relative;
    left: 330px;
}

textarea:focus {
    outline: none;
    border-color: #2b1807 ; /* Highlight border on focus */
    box-shadow: #2b1807;
}
body{
    background-color: #fbc02d;
}
.notes{
    background-color: #372E29;
    color: #fbc02d;
}