<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
    <title>Campus Buddy</title>
</head>

<body>
    <!--Header Section Code-->
    <header>
        <header class="header">
            <div>
                <a href="#home" class="logo">Campus <span>Buddy</span></a>
                <nav>
                    <ul class="navbar">
                        <li><a href="#home">Saved PDFs</a></li>
                        <li><a href="#about">Upload PDFs</a></li>
                        <li>
                        </li>
                        <li><a href="/notepad">Notepad</a></li>
                        <li><a href="/event">Event Calendar</a></li>
                    </ul>
                    <form action="/home" method="POST" >
                        <div class="navbar">
                            <a href="/home" class="navbar">Log Out</a>
                          </div>
                    </form>
                    
                </nav>
            </div>
        </header>
    </header>
    <!--Service Section Code-->

    <section class="service" id="service">
        <div class="services">
            <h2 class="servicesmainheading">Our Services</h2>
            <div class="content">
                <div class="cards">
                    <div class="card">
                        <div class="sbox">
                            <i class="fa-solid fa-file-pdf"></i>
                            <h3>Store PDFs</h3>
                            <p>Store your important PDFs without the fear of loosing them</p>
                            <a href="">View PDFs</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="sbox">
                            <i class="fa-solid fa-file"></i>
                            <h3>Upload PDFs</h3>
                            <p>Upload PDFs to help other students and get help from students</p>
                            <a href="#">Upload PDFs</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="sbox">
                            <i class="fa-solid fa-clipboard"></i>
                            <h3>Notepad</h3>
                            <p>A notepad for you so you can make your own notes and store them</p>
                            <a href="/notepad">Notepad</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="sbox">
                            <i class="fa-solid fa-calendar-days"></i>
                            <h3>Events Calendar</h3>
                            <p>get every update related to campus and upcoming events</p>
                            <a href="/event">Upcoming Events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>