<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTEPAD</title>
    <link rel="stylesheet" href="/static/notepad.css">
</head>
<body>
    <div>
        <center><h1>NOTEPAD</h1></center>
        <form action="/save_note" method="POST">
            <label class="text" for="notes">Your Notes:</label><br>
            <textarea id="notes" name="notes" placeholder="Write your notes here..." style="width: 300px; height: 150px;"></textarea><br><br>
            <center><button class="savebt" type="submit">SAVE</button></center>
        </form>
    </div>
</body>
</html>